<section class="services" id="services">

  <div class="container">

    <h1 class="sub-title">
      <span>My</span>
      <span style="color:#e81155;"> Services</span>
    </h1>

    <div class="services-list">

      <div>
        <i class="fa-solid fa-code"></i>
        <h2>Web Design</h2>
        <p>
          Responsive and modern web applications using Angular.
        </p>
      </div>

      <div>
        <i class="fa-brands fa-java"></i>
        <h2>Backend Development</h2>
        <p>
          REST APIs and enterprise applications using Spring Boot.
        </p>
      </div>

      <div>
        <i class="fa-solid fa-database"></i>
        <h2>Database</h2>
        <p>
          PostgreSQL and MySQL database design and optimization.
        </p>
      </div>

    </div>

  </div>

</section>